<div class="jumbotron center">
    <% if user_signed_in? %>
    <h1>Welcome Member!</h1>
    
    <% else %>    
    <h1>Let's Get Started!</h1>
    <p>
        <%= link_to "SIGN IN", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "SIGN UP",new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
    <% end %>
</div>