<div class="jumbotron">
    <h1>We love baseball!</h1>
    <h2>My name is Wilton!</h2>
    <p>Click here to <%= link_to "SIGN UP", "#", class: "btn btn-primary btn-lg" %></p>
    <p>We love Ruby on Rails!</p>
</div>